# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Something else
*.DS_Store
*.swp


# python compiled
*.pyc

# map file
*.pgm

# speciic cfg
99.my_tianracer.sh.em
tianbot_office_*.yaml
# unused file
imgui.ini
.vscode
*/.ipynb_checkpoints/*
