<?xml version="1.0"?>

<launch>
    <arg name="map_file" default="$(optenv TIANRACER_MAP_FILE tianbot_office)" />
    <arg name="map_path" default="$(find tianracer_slam)/maps" />
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <node unless="$(eval slam_methods=='cartographer')" pkg="map_server" type="map_saver" name="map_saver" args="-f $(arg map_path)/$(arg map_file)" output="screen"/>
    <node if="$(eval slam_methods=='cartographer')" pkg="map_server" type="map_saver" name="map_saver" args="--occ 51 --free 49 -f $(arg map_path)/$(arg map_file)" output="screen"/>

</launch>

