<?xml version="1.0"?>

<launch>

    <arg name="ns" default="$(optenv TIANRACER_NAMESPACE /)" />
    <arg name="base" default="$(optenv TIANRACER_BASE compact)" />
    <arg name="gui" default="False" />

    <param name="robot_description" command="xacro $(find tianracer_description)/urdf/tianracer_compact.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="$(arg gui)" />
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
