<?xml version="1.0"?>

<!-- 
  - map_server
  - amcl
  - move_base
  - cmd_vel to ackermann_cmd
  - rviz view
 -->
<launch>
    <arg name="use_rviz" default="false" />
    <!-- for amcl -->
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />
    <arg name="base" default="$(optenv TIANRACER_BASE compact)" />
    <!-- for Map server -->
    <arg name="map_file" default="$(optenv TIANRACER_MAP_FILE tianbot_office)" />
    <arg name="map_path" default="$(find tianracer_slam)/maps" />

    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_path)/$(arg map_file).yaml"/>

    <!-- Localization -->
    <!-- AMCL -->
    <include file="$(find tianracer_navigation)/launch/includes/tianbot_amcl.launch.xml">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>
    
    <!--  Navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find tianracer_navigation)/param/move_base_params.yaml" command="load"/>
        <rosparam file="$(find tianracer_navigation)/param/teb_carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tianracer_navigation)/param/teb_carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tianracer_navigation)/param/teb_carlike/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tianracer_navigation)/param/teb_carlike/global_costmap_params.yaml" command="load" />

        <rosparam file="$(find tianracer_navigation)/param/teb_carlike/$(arg base)_teb_local_planner_params.yaml" command="load" />
        <rosparam file="$(find tianracer_navigation)/param/teb_carlike/global_planner_params.yaml" command="load" />
        
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param if="$(eval base=='compact')" name="footprint" value="[[0.34,0.1],[0.34,-0.1],[-0.05,-0.1],[-0.05,0.1]]" />
        <param if="$(eval base=='standard')" name="footprint" value="[[0.42,0.14],[0.42,-0.14],[-0.12,-0.14],[-0.12,0.14]]" />
        <param if="$(eval base=='fullsize')" name="footprint" value="[[0.8,0.27],[0.8,-0.27],[-0.2,-0.27],[-0.2,0.27]]" />
        <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
    </node>

    <!-- cmd_vel to ackermann_cmd -->
    <node pkg="tianracer_navigation" type="cmd_vel_to_ackermann_drive.py" name="vel_to_ackermann" >
        <param name="twist_cmd_topic" value="/cmd_vel" />
	      <param name="ackermann_cmd_topic" value="/tianracer/ackermann_cmd" />
        <param if="$(eval base=='compact')" name="wheelbase" value="0.255" />
        <param if="$(eval base=='standard')" name="wheelbase" value="0.33" />
        <param if="$(eval base=='fullsize')" name="wheelbase" value="0.6" />
    </node>    
    
    <!--  Visualisation -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tianracer_rviz)/rviz_cfg/teb_navigation.rviz" if="$(arg use_rviz)" />

</launch>
