<?xml version="1.0"?>

<model>
  <name>tianracer_racetrack</name>
  <version>1.0</version>
  <sdf version="1.6">tianracer_racetrack.sdf</sdf>


  <author>
    <name>Yuxing Zhang</name>
    <email>1632122398@qq.com</email>
  </author>

  <description>
    A tianracer_racetrack world
  </description>
</model>

