<?xml version="1.0"?>
<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <rosparam file="$(find tianracer_competition)/launch/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find tianracer_competition)/launch/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find tianracer_competition)/launch/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find tianracer_competition)/launch/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find tianracer_competition)/launch/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find tianracer_competition)/launch/param/teb_local_planner_params.yaml" command="load" />
    </node>

 <node name="nav_sim" pkg="tianracer_competition" type="nav_sim.py" />

 <node name="loop" pkg="tianracer_competition" type="run3.py" />

  <!-- Launch RVIZ -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tianracer_competition)/launch/sim.rviz" output="screen"/> -->
</launch>
