<launch>
  <arg name="robot_name_1" default="tracer_01" />
  <arg name="robot_name_2" default="tracer_02" /> 

  <include file="$(find tianracer_gazebo)/launch/simulation.launch" >
    <arg name="robot_name" value="$(arg robot_name_1)" />
  </include>
  <include file="$(find tianracer_gazebo)/launch/spawn_tianracer.launch">
    <arg name="robot_name" value="$(arg robot_name_2)" />
    <!--the position is controlled by the static transform-->
    <arg name="x_pos" value="-1.5"/>
  </include>
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_global_1" args="0 0 0 0 0 0 world $(arg robot_name_1)/odom 20" />
  <node pkg="tf" type="static_transform_publisher" name="world_to_global_2" args="0 0 0 0 0 0 world $(arg robot_name_2)/odom 20" />
  <!-- <node pkg="tianracer_gazebo" type="tianracer_tf.py" name="tianracer_tf" output="screen">
    <param name="target_frame" value="$(arg robot_name_1)/base_link" />
    <param name="follower_robot_name" value="$(arg robot_name_2)" />
    <param name="set_distance" value="0.5" />
  </node> -->

  <!-- RVIZ可视化调试工具 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find abc_swarm)/rviz/demo_tf.rviz" />
</launch>
