<launch>
    <!-- 这一版本删除了joint_state_publisher和 robot_state_publisher-->
    <arg name="robot_name" default="tianracer_01" />

    <arg name="map" default="tianracer_racetrack.yaml" />

    <!-- Map server, load map-->
    <node name="map_server" pkg="map_server" type="map_server" ns="$(arg robot_name)" args="$(find tianracer_gazebo)/maps/$(arg map)">
      <param name="frame_id" value="map" />
    </node>
    <!-- 设置launch文件的参数 -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!--模型车的起点放置位置-->
    <arg name="x_pos" default="0" />
    <arg name="y_pos" default="0" />
    <arg name="z_pos" default="0" />
    <arg name="R_pos" default="0" />
    <arg name="P_pos" default="0" />
    <arg name="Y_pos" default="1.5708" />

    <!--运行gazebo仿真环境-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(find tianracer_gazebo)/worlds/tianracer_racetrack.world" />
        <!-- .world文件的地址-->
    </include>

    <!-- 加载机器人模型描述参数 (删除inorder选项，因为它在ROS Melodic中成为默认设置)-->
    <group ns="$(arg robot_name)">
        <param name="robot_description" command="$(find xacro)/xacro '$(find tianracer_gazebo)/urdf/tianracer_run.urdf.xacro' prefix:=$(arg robot_name)" />
        <!-- 在gazebo中加载机器人模型-->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -model $(arg robot_name) -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg R_pos) -P $(arg P_pos) -Y $(arg Y_pos)"/>
    </group>

    <include file="$(find tianracer_gazebo)/launch/tianracer_control_2.launch" >
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <!-- move base -->
    <include file="$(find tianracer_gazebo)/launch/includes/teb_base_2.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>

    <!-- AMCL -->
    <include file="$(find tianracer_gazebo)/launch/includes/amcl_2.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_global_1" args="0 0 0 0 0 0 $(arg robot_name)/map $(arg robot_name)/odom 20" /> -->
    <!-- rviz -->
    <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find tianracer_gazebo)/rviz/nav.rviz"/> -->
</launch>
