<?xml version="1.0"?>

<launch>
  <arg name="image_topic" default="/usb_cam/image_raw" />
  <arg name="image_transport" default="compressed" />
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="$(arg image_topic)"/>
    <param name="autosize" value="true" />
    <param name="image_transport" value="$(arg image_transport)" />
  </node>
</launch>

