<?xml version="1.0"?>

<launch>
    <include file="$(find tianracer_description)/launch/tianracer_tf.launch" />
    <include file="$(find tianracer_teleop)/launch/joystick_teleop.launch" />
    <include file="$(find tianracer_bringup)/launch/lidar.launch" />
    <include file="$(find tianracer_bringup)/launch/rgbd_camera.launch" />
    <include file="$(find tianracer_bringup)/launch/usb_cam.launch" />
    <include file="$(find tianracer_bringup)/launch/gps.launch" />
    <include file="$(find tianracer_bringup)/launch/bridge.launch" />
    <include file="$(find tianracer_core)/launch/tianracer_core.launch" />
</launch>
