<?xml version="1.0"?>

<launch>
    <arg name="robot_name" default="tianracer"/>
    <include file="$(find tianracer_description)/launch/tianracer_tf_2.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    <include file="$(find tianracer_teleop)/launch/joystick_teleop.launch"/>
    <include file="$(find tianracer_bringup)/launch/lidar_2.launch" ns="$(arg robot_name)">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
    <include file="$(find tianracer_bringup)/launch/rgbd_camera.launch"/>
    <include file="$(find tianracer_bringup)/launch/usb_cam.launch" ns="$(arg robot_name)"/>
    <include file="$(find tianracer_bringup)/launch/gps.launch"/>
    <include file="$(find tianracer_bringup)/launch/bridge.launch" />
    <include file="$(find tianracer_core)/launch/tianracer_core_2.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>
</launch>
