SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60",ATTRS{serial}=="1001", MODE:="0666", GROUP:="dialout",  SYMLINK+="tianbot_racecar"

SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="374b",MODE:="0666", GROUP:="dialout",  SYMLINK+="tianbot_racecar"
